@model List<OtelRezervasyonWebSitesi.Models.Person>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListPerson</title>
</head>
<body>
    <div>
        @foreach (var kisi in Model)
        {
            <div>@kisi.PersonID</div>
            <div>@kisi.PersonName</div>

            <div>@kisi.PersonCountry</div>

            <a href="/Person/PersonDelete?id=@kisi.PersonID">Sil</a>
        }
    </div>
</body>
</html>
